<footer class="bd-footer py-5 pt-md-5 pb-md-1 text-white" id="footer">
  <div class="py-3 py-md-4 px-5 px-md-4 mx-5 border-bottom border-light">
    <div class="row">
      <div class="col-6 col-lg-2 mb-3">
        <h5>Account</h5>
          <p><a routerLink="login">Login</a> / <a routerLink="signup">Sign Up</a></p>
          <p><a data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas" aria-controls="cartOffcanvas">Cart</a></p>
          <p><a routerLink="wishlist">Wishlist</a></p>
          <p><a routerLink="orderHistory">Order History</a></p>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Our Policies</h5>
          <p><a routerLink="policies" fragment="shipping">Shipping and Delivery</a></p>
          <p><a routerLink="policies" fragment="returns">Returns Policy</a></p>
          <p><a routerLink="policies" fragment="payment">Security and Payment</a></p>
          <p><a routerLink="policies" fragment="faqs">FAQs</a></p>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Contact Us</h5>
        <p><i class="bi bi-house-fill me-1"></i> New York, NY 10012, US</p>
        <p><i class="bi bi-envelope-fill me-1"></i> info&#64;gmail.com</p>
        <p><i class="bi bi-telephone-fill me-1"></i> + 01 234 567 88</p>
        <p><i class="bi bi-printer-fill me-1"></i> + 01 234 567 89</p>
      </div>
      <div class="col-6 col-lg-5 offset-lg-1 mb-3">
        <h3>Newsletter</h3>
        <p>Subscribe to our newsletter to get the latest updates and offers.</p>
        <form>
          <div class="input-group mb-3">
        <input type="email" class="form-control" id="newsletterEmail" placeholder="Enter your email">
        <button type="submit" class="btn btn-secondary">
          <i class="bi bi-send"></i>
        </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mx-5 my-2 p-2 d-flex justify-content-between">
    <p class="m-0">© 2024 Fashion E-commerce. All Rights Reserved. <span class="mx-2"> </span> 
      <a href="terms.html" class="mx-3">Terms & Conditions</a> 
      <a href="privacy.html" class="mx-3">Privacy Policy</a>
    </p>
    <div class="h4">
      <a class="m-2" href="#"><i class="bi bi-facebook"></i></a>
      <a class="m-2" href="#"><i class="bi bi-twitter"></i></a>
      <a class="m-2" href="#"><i class="bi bi-instagram"></i></a>
      <a class="m-2" href="#"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</footer>