<div class="card position-relative">
  <img [src]="staticUrl+product.image" class="card-img-top" [alt]="product.name" 
  style="height: 300px; object-fit: contain;" (click)="viewProductDetails(product._id)">
  <div class="card-body text-center">
    <h5 class="card-title text-capitalize">{{ product.name }}</h5>
    <p class="card-text">{{ product.price | currency }}</p>
    <button (click)="viewProductDetails(product._id)" class="btn btn-primary ms-0">View Details</button>
    <button (click)="addToCart(product._id)" href="#" class="btn btn-primary me-0">Add to Cart</button>
  </div>
  <button (click)="addToWishlist(product._id)" class="btn btn-outline-danger position-absolute top-0 end-0 m-2">
    <i class="bi bi-heart"></i>
  </button>
</div>