<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="display-4"><b>Our Policies</b></h2>
      <p class="lead">Because we care about YOU!</p>
    </div>
  </div>

  <section class="py-3 px-5" id="shipping">
    <h2>Shipping and Delivery</h2>
    <p>{{shipping}}</p>
  </section>

  <section class="py-3 px-5" id="returns">
    <h2>Returns Policy</h2>
    <p>{{returns}}</p>
  </section>

  <section class="py-3 px-5" id="payment">
    <h2>Payment</h2>
    <p>{{payment}}</p>
  </section>

  <section class="py-3 px-5" id="faqs">
    <h2>FAQs</h2>
    <p>{{faqs}}</p>
  </section>
</div>