<section id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let cimage of carouselImages; let i = index" 
      type="button" 
      data-bs-target="#carouselExampleIndicators" 
      [attr.data-bs-slide-to]="i" 
      [class.active]="i === 0" 
      [attr.aria-current]="i === 0 ? 'true' : null" 
      [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>
  <div class="carousel-inner">
    @for (cimage of carouselImages; track $index) {
      <div class="carousel-item" [ngClass]="{'active': $first}">
        <img [src]= "cimage.src" class="d-block w-100" [alt]="cimage.alt">
        <div class="carousel-caption d-md-block">
          <a routerLink="/cataloge" class="btn btn-primary">Shop Now <i class="bi bi-arrow-right-circle-fill"></i></a>
        </div>
      </div>
    }
  </div>
</section> 