<h2 class="fw-bold mb-4">Forgot Password</h2> 
<p> Enter the email address you used when you joined and we’ll send you instructions to reset your password.</p>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
    <div *ngIf="forgotPasswordForm.get('email')!.invalid && forgotPasswordForm.get('email')!.touched" class="text-danger">
      Email is required
    </div>
  </div>
  <button type="submit" class="btn btn-primary w-100">Send</button>
</form>
<div class="text-center mt-3">
  <a routerLink='/login' class="my-2">Login</a>
  or
  <a routerLink="/signup" class="my-2">Sign up instead?</a>
</div>
