
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
    <app-filters></app-filters>
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-center my-3 py-3">
        <button class="btn btn-primary d-lg-none mb-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                Show Filters
        </button>
      </div>    
      <div class="collapse d-lg-none" id="filtersCollapse">
        <app-filters></app-filters>
      </div>
      <div class="container">
        <div class="row">
          <div *ngFor="let product of products" class="col-6 col-md-4 mb-4">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
        <!-- Pagination -->
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
        <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>
      </div>
    </div>

