<section id="shop-by-category" class="py-5 bg-light">
  <div class="container">
    <div class="row text-center mb-4">
      <div class="col">
        <h2 class="display-4"><b>Shop by Category</b></h2>
        <p class="lead">Discover our exclusive collections for men and women.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-6 text-center position-relative">
        <div class="bg-image position-relative" style="background-image: url('istockphoto-1214561965-612x612.jpg');">
            <div class="overlay d-flex flex-column justify-content-center align-items-center h-100">
                <h3 class="mt-3 text-white">Men's Fashion</h3>
                <p class="text-white">Find the perfect outfit for any occasion. Shop our latest trends and styles.</p>
                <a href="#" class="btn btn-primary">Shop for Men</a>
            </div>
            <div class="dark-overlay"></div>
        </div>
    </div>
      <div class="col-6 text-center position-relative">
        <div class="bg-image position-relative" style="background-image: url('istockphoto-1446098147-612x612.jpg');">
          <div class="overlay d-flex flex-column justify-content-center align-items-center h-100">
            <h3 class="mt-3 text-white">Women's Fashion</h3>
            <p class="text-white">Discover the latest in women's fashion. From casual to formal, we have it all.</p>
            <a href="#" class="btn btn-secondary">Shop for Women</a>
          </div>
          <div class="dark-overlay"></div>
        </div>
      </div>
    </div>


    <div class="row mt-4 p-3 position-relative">
      <div class="col-1 d-flex align-items-center justify-content-center">
        <button class="btn btn-outline-secondary" id="scroll-left"><i class="bi bi-chevron-left"></i></button>
      </div>
      <div class="col-10 overflow-auto" id="category-container" style="white-space: nowrap;">
        <div *ngFor="let category of categories" class="d-inline-block text-center mx-2">
          <a routerLink="/cataloge">
            <img [src]="category.image" class="rounded-circle mb-3 category-image" alt="{{category.name}}">
            <h5>{{category.name}}</h5>
          </a>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center justify-content-center">
        <button class="btn btn-outline-secondary" id="scroll-right"><i class="bi bi-chevron-right"></i></button>
      </div>
    </div>
  </div>
</section>